<% layout('layout') %>

<% missions.forEach((mission) => { %>
    <% if (mission.title == title ) { %>
        <li class="list-group-item mission">
                <span class="badge"><%= mission.reward %> &cent;</span>
                <h4 class="list-group-item-heading"><%= mission.title %></h4>
                <p class="list-group-item-text"><%= mission.teaser %></p>
                <p class="description"><%= mission.description %></p>
                <p class="">Чат в telegram <%= mission.telegram_chat %></p>
                <p class="">Город в котором будет проходить мероприятие <%= mission.city %></p>
                <p class="">Максимальное количество участников <%= mission.max_participants %></p>
                <p class="">Начало <%= ('0' + mission.date_from.getDate()).slice(-2) %>.<%= ('0' + (mission.date_from.getMonth()+1)).slice(-2) %> 
                                    <%= mission.date_from.getHours() - 3 %>:<%= mission.date_from.getMinutes() %></p>
                <p class="">Конец <%= ('0' + mission.date_to.getDate()).slice(-2) %>.<%= ('0' + (mission.date_to.getMonth()+1)).slice(-2) %> 
                                     <%= mission.date_to.getHours() - 3 %>:<%= mission.date_to.getMinutes() %></p>
        </li>
    <% } %>   
<% }); %>
