<% layout('layout') %>

<div class="row">
    <div class="col-md-12">
        <h3><% if (you.is_manager) { %>
            <a class="btn btn-default btn-sm pull-right" href="/manager/missions/<%= mission._id %>">
                <i class="glyphicon glyphicon-star"></i> Редагувати
            </a>
            <% } %>
            <%= mission.title %>
        </h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <span class="date">
                        <%= moment(mission.start).format('DD.MM.YYYY HH:mm') %>
                        &mdash;
                        <%= moment(mission.finish).format('DD.MM.YYYY HH:mm') %>
                    </span>,
                    <span class="city"><%= mission.city %></span>
                    <span class="participants pull-right"><%= mission.max_participants %></span>
                </div>
                <p></p>
                <p><i><%= mission.teaser %></i></p>
                <span class="time"><%= mission.time %></span>
            </div>
        </div>

        <div class="description">
            <%= mission.description %>
        </div>

    </div>
</div>